/*
JavaScript Snake
By Patrick Gillespie
http://patorjk.com/games/snake
*/

body {
    margin: 0px;
    padding: 0px;
    background-image: url('./images/themes/cloud_theme-back.jpg');
    background-repeat: repeat;
}

p {
    font-family: Verdana, arial, helvetica, sans-serif; 
    font-size: 16px;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    text-align: center;
}

/*---- Change Buttons: Top section ----*/
#selections {
    margin: 0px auto;
    background-color: white;
    border: 1px solid #003366;
    width: 267px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 5px;
}
#mode-wrapper {
    font-family: Verdana, arial, helvetica, sans-serif; 
    font-size: 14px;
    color: #003366;
}

select, button {
    border: black;
    color: white;
    background: #003366;
}

#high-score {
    position: relative;
    left: 145px;
    bottom: 50px;
}


/*---- Game background ----*/

#game-area {
    margin: 0px auto;
    padding: 0px;
}

#game-area:focus { 
    outline: none; 
}

.snake-playing-field { /* Background-game */
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: white;
}

.snake-game-container { /* Main background- border */
    margin: 0px;
    padding: 0px;
    border: 2px solid white;
    zoom: 1;
    background-color: #003366;
    position: relative;
}


/*---- Bottom of Game Area (src; len) ----*/
.snake-panel-component { /* Border- blocks at bottomr of page */
    position: absolute;
    font-family: Verdana, arial, helvetica, sans-serif; 
    font-size: 14px;
    color: white;
    text-align: center;
    background-color: #003366;
    padding: 8px;
    margin: 0px;
}


/*---- Snake Stuff! ----*/
a.snake-link, a.snake-link:link, a.snake-link:visited {
  color: white; 
}

a.snake-link:hover {
  color: #3E2E44; 
}

.snake-snakebody-block {
    margin: 0px;
    padding: 0px;
    background-color: white;
    position: absolute;
    border: 0px solid black;
    background-repeat: no-repeat;
}

.snake-snakebody-alive { /* Snake Body block */

    background-image: url('./images/themes/cloud_theme-head.png'); /* NOte: currently too light */;

}
.snake-snakebody-dead { /* Snake Body dead block */
   background-image: url('./images/dead-dark-snakeblock.png');
}


/* Snake Food Stuff */
.snake-food-block {
    margin: 0px;
    padding: 0px;
    background-image: url('./images/themes/cloud_theme-food.png');
    border: 2px solid #3E2E44;
    position: absolute;
}

/* Snake Powerup Stuff */
.snake-speed-block {
    margin: 0px;
    padding: 0px;
    background-image: url('./images/boosts/speed_boost.png');
    border: 2px solid #3E2E44;
    position: absolute;
}

.snake-powerup-block-speed {
    background-image: url(); 
}

.snake-powerup-block-apples {
    background-image: url();
}

/*---- Popup screens ----*/
.snake-pause-screen {
    font-family: Verdana, arial, helvetica, sans-serif; 
    font-size: 14px;
    position: absolute;
    width: 300px;
    height: 80px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -150px;
    display:none;
    background-color: #3E2E44;
    color: white;
}
            
.snake-welcome-dialog {
    padding: 8px;
    margin: 0px;
    background-color: black;
    color: white;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    /*height: 150px;*/
    margin-top: -100px;
    margin-left: -158px;
    text-align: center;
    display: block;
}


.snake-try-again-dialog {
    padding: 8px;
    margin: 0px;
    background-color: black;
    color: white;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 100px;
    margin-top: -75px;
    margin-left: -158px;
    text-align: center;
    display: none;
}